
body{
    margin: 0;
    font-family: 'Krona One', sans-serif;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
#name-highlight
{
    color: orange;
}
p{
    color: dimgray;
}
.leftside
{
    width: 40%;
    float: left;
    padd
}
.leftside img{
    width: 100%;
}
#ssa{
    float: right;
    padding-right: 200px;
    width: 600px;
    margin-top: 40px;
    display: inline;
}
#ssal{
    float: left;
    padding-left: 200px;
    width: 600px;
    margin-top: 40px;
}
#ssl{
    padding-left: 200px;
    width: 600px;
}
#firstcontent
{
    
    
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.Link_button{
   text-decoration: none;
   background-image: linear-gradient(lightsalmon, tomato);
   padding: 10px 20px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
   transition: 1s;
   
}
.Link_button:hover{
    border-radius: 60%;
    background-image: linear-gradient(orange, tomato);  
}
#dreamarea
{
    background-position: right;
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    
}
#ssle
{
    padding-left: 400px;
    width: 600px;
    

}
#experience{
    padding-top: 100px;
}
.inline{
    position: relative;
    top: 60px;
    
}
.shadowclass{
    box-shadow: 10px 10px 40px gray;
    height: 400px;
}
#ssak{
    float: right;
    
    width: 450px;
    padding: 50px;
    margin-top: 40px;
    display: inline;
    margin-right: 300px;
    margin-bottom: 100px;
    border-radius: 5px;
    border-left: 7px solid;
    border-image: linear-gradient(360deg, blue,cyan);
    border-image-slice: 1;
}
#ssli{
    float: left;
    margin-left: 300px;
    width: 450px;
    padding: 50px;
    position: absolute;
    top: 1557px;
    margin-right: 300px;
    margin-bottom: 100px;
    border-radius: 5px;
    border-left: 7px solid;
    border-image: linear-gradient(3600deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#experience{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer{
    overflow: hidden;
    height: 50px;
    position: relative;
    top: 50px;
    width: 100%;
    text-align: center;
    

}
