
body{
    margin: 0;
    font-family: 'Krona One', sans-serif;
}
h1{
    font-size: 50px;
    
}
#name-highlight
{
    color: orange;
}
.leftside
{
    width: 40%;
    float: left;
    padd
}
.leftside img{
    width: 100%;
}
#ssa{
    float: right;
    padding-right: 200px;
    width: 600px;
    margin-top: 40px;
}
#ssl{
    padding-left: 200px;
    width: 600px;
}
#firstcontent
{
    
    
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
section{
    height: 500px;
}
.Link_button{
   text-decoration: none;
   background-image: linear-gradient(lightsalmon, tomato);
   padding: 10px 20px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
   transition: 1s;
   
}
.Link_button:hover{
    border-radius: 60%;
    background-image: linear-gradient(orange, tomato);  
}